* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: radial-gradient(circle at top, #1b0f2f, #050008);
    color: #fff;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
}

.navbar a {
    color: #aaa;
    margin: 0 12px;
    text-decoration: none;
}

.navbar a:hover {
    color: #fff;
    transition: 0.3s;
}

.logo {
    color: #b084ff;
}

.btn {
    background: linear-gradient(45deg, #7a4bff, #b084ff);
    border: none;
    padding: 10px 22px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(45deg, #b084ff, #7a4bff);
    transition: 0.5s;
    transform: scale(1.1);
}

/* HERO */
.hero {
    display: flex;
    justify-content:space-around;
    padding: 80px;
    align-items: center;
}

.hero-text h1 {
    font-size: 42px;
    margin: 10px 0;
}

.hero-text span {
    color: #b084ff;
}

.hero-img {
    margin-left: -80px; 
}


/* STATS */
.stats {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 40px;
    text-align: center;
}

.stats h2 {
    color: #b084ff;
}

.social-icon {
   color: #b084ff;
   padding-left: 20px;
   font-size: 26px;
}

.social-icon:hover {
    transform: scale(1.1);
    transition: 1s;
}

/* SECTIONS */
.section {
    padding: 80px;
    align-items: center;
}

.title {
    text-align: center;
    margin-bottom: 40px;
    color: #b084ff;
}

/* SERVICES */
.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    flex-direction: column;
    align-items: center;  
    justify-content: center;  
    text-align: center;   
        
    
}

.card {
    background: rgba(255,255,255,0.05);
    padding: 25px;
    border-radius: 12px;
    transition: 0.3s;
}

.card:hover {
    background: rgba(176,132,255,0.2);
}

/* PROJECTS */
.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.project-card {
    height: 300px;
    width: 400px;
    background: linear-gradient(135deg, #0a0123, #200246);
    border-radius: 16px;
    padding: 20px;
    color: beige;
    text-align: left;
}

.project-card p {
    font-size: 14px;
    margin-top: 18px;
}

.project-card button {
    margin-top: 20px;
    padding: 8px 16px;
    background: #b084ff;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}

.project-card a {
    color: #fff;
    text-decoration: none;
}

.project-card button:hover {
    background: #7a4bff;
    transition: 0.3s;
    transform: scale(1.05);
}

.project-card .tech-icon {
    font-size: 40px;
    margin-right: 10px;
    color: #fff;
    
}


/* EXPERIENCE */
.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

/* CONTACT */
.contact {
    padding: 80px;
    text-align: center;
}

form {
    max-width: 500px;
    margin: auto;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background: rgba(255,255,255,0.08);
    border: none;
    border-radius: 10px;
    color: #fff;
}

footer {
    text-align: center;
    padding: 20px;
    color: #777;
}
